run =  ["python", "app.py"]
entrypoint = "app.py"
modules = ["python-3.10"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[deployment]
run =  ["python", "app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
